<section class="mt-6">
  <div class="container is-flex is-flex-wrap-wrap">
    {{#each productos}}
      <div class="card" style="width: 150px; margin: 20px">
        <div class="card-image" style="padding: 15px">
          <figure class="image is-4by3">
            <img src="{{thumbnail}}" alt="Imagen de Producto" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-6">{{title}}</p>
              <p class="title is-4">{{description}}</p>
              <p class="subtitle is-6">{{price}}</p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>